* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --aqua: #14d9c4;
  --black-8: rgba(0, 0, 0, 0.08);
  --gunmetal: #54585a;
  --white: #fff;
  --blue-green: #099d8d;
  --cool-grey: #b8b8b9;
  --content: "Open Sans", sans-serif;
  --titles: "Rubik", sans-serif;
  font-size: 62.5%;
}
.container {
  margin: 0 15px;
}
.page-header {
  font-family: var(--titles);
  color: var(--white);
  background-color: var(--blue-green);
  position: sticky;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  height: 105px;
}

.page-header h1 {
  font-size: 1.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.page-header .nav {
  width: 100%;
  height: 45px;
  background-color: var(--aqua);
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero {
  height: 300px;
  background-image: url("../images/hero-small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .div {
  height: 100%;
}

.slogan {
color: var(--black);
font-family: var(--content);
font-size: 18px;
margin: 15px;
padding: 10px;
background-color: var(--white);
top: 328px;
position: absolute;
} 