* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --black-8: #00000014;
  --light-grey-blue: #b8b8b91a;
  --gunmetal: #54585a;
  --gunmetal-75: #54585abf;
  --cool-grey: #b8b8b9;
  --cool-grey-2: #b8b8b934;
 
  --white: #fff;

  --aqua: #14d9c4;
  --aqua-75: #14d9c4bf;
  --blue-green: #099d8d;
  --blue-green-95: #099d8df2;

  --content: "Open Sans", sans-serif;
  --titles: "Rubik", sans-serif;

  --semiBold: 600;
  --medium: 500;
  --regular: 400;

  font-size: 62.5%;
}
