/* Nombre del grupo */
.textStyle-13 {
  color: var(--white);
  font-family: var(--titles);
  font-size: 1.6rem;
  font-weight: var(--medium);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

/* Quiénes somos */
.textStyle-7 {
  color: var(--white);
  font-family: var(--titles);
  font-size: 1.5rem;
  font-weight: var(--medium);
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}

/* texto del hero */
.textStyle-10 {
  color: var(--black);
  font-family: var(--content);
  font-size: 1.8rem;
  font-weight: var(--semiBold);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
}

/* Equipo */
.textStyle-14 {
  color: var(--aqua);
  font-family: var(--titles);
  font-size: 2.4rem;
  font-weight: var(--medium);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

/* párrafos */
.textStyle-4 {
  color: var(--gunmetal);
  font-family: var(--content);
  font-size: 1.6rem;
  font-weight: var(--regular);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
