<section id="about" class="about">
  <h2 class="textStyle-5">Quiénes somos</h2>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarDiana.jpeg"
    imgAlt="Diana Mármol"
    name="Diana Mármol"
    desc="Ilustradora y diseñadora con varios años de experiencia trabajando para empresas nacionales e internacionales. Un día decidí que quería ir más allá y aprender programación con la misma pasión con la que aprendí a dibujar, logrando mezclar ambos mundos y desarrollar ideas más completas."
  ></include>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarMayte.jpeg"
    imgAlt="Mayte González"
    name="Mayte González"
    desc="Después de un tiempo en el campo de la Biología, decidí cambiar mi rumbo a la programación. 
    Siempre me ha interesado mucho el desarrollo y todo lo que tiene que ver con ordenadores. Por ello me decidí a dar el paso e iniciarme en este apasionante mundo. 
    Tengo muchas ganas de aprender cosas nuevas y seguir formándome en este entorno tan mágico. 
    "
  ></include>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarAranzazu.jpg"
    imgAlt="Aranzazu Barrutia"
    name="Aranzazu Barrutia"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
  ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at
  ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi
  interdum neque et aliquam varius."
  ></include>
  <include
    src="./itemAbout.html"
    img="./assets/images/avatarAinhoa.jpg"
    imgAlt="Ainhoa de las Heras"
    name="Ainhoa de las Heras"
    desc="Ex-administrativa, sentía ganas de cambiar mi rumbo laboral y darle un giro fresco, mejorando también mis oportunidades en el trabajo. Me encanta la tecnología, los videojuegos, estar en la naturaleza, los animales y viajar. Mi objetivo es seguir aprendiendo y sentir la emoción de probar cosas nuevas en todo lo que hago."
  ></include>
</section>
