<section class="contact">
  <h2 class="title">Contacto</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse error eaque
    officiis nesciunt quis nobis quaerat facilis quidem odit perferendis beatae
    dolorem delectus, alias tempora autem hic ullam rem qui.
  </p>
  <p>todos los campos marcados con <span>*</span> son obligatorios.</p>
</section>

<section>
  <form action="" method="" class="form">
    <label for="name">Nombre completo<span>*</span></label>

    <input type="text" name="name" id="name" placeholder="Nombre..." required />

    <label for="email">Email <span>*</span></label>

    <input
      type="email"
      name="email"
      id="email"
      placeholder="nombre.apellidos@mail.com"
      required
    />

    <label for="telephone">Teléfono</label>

    <input
      type="tel"
      name="telephone"
      id="telephone"
      placeholder="Ej: 123456789"
    />

    <label for="comments">Mensaje <span>*</span> </label>

    <textarea
      class="comments"
      id="comments"
      name="comments"
      placeholder="¿Qué necesitas?"
    ></textarea>

    <input class="button" type="submit" value="enviar" />
  </form>
</section>
