<article class="name">
  <img class="name_img" src="@@img" alt="@@imgAlt" />
  <div class="name_text">
    <h4 class="name_text-h4">@@name</h4>
    <p class="name_text-p">@@desc</p>
    <div class="name_text-icons">
      <a class="flower fa-brands fa-twitter" href="#" title="twitter"></a>
      <a class="flower fa-brands fa-linkedin-in" href="#" title="linkedin"></a>
      <a class="flower fa-brands fa-github-alt" href="#" title="Github"></a>
      <a class="flower fa-solid fa-envelope" href="#" title="email"></a>
    </div>
  </div>
</article>
